.ceremony-section {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2.5rem;
	align-items: center;
	justify-items: center;
	min-height: 100vh;
	background-color: #f3f4f6; /* Tailwind's gray-100 */
	padding: 3rem 1.5rem;
}

@media (min-width: 900px) {
	.ceremony-section {
		grid-template-columns: 1fr 1fr;
		gap: 3rem;
		padding: 3rem;
	}
}

.ceremony-image-container {
	width: 100%;
	display: grid;
	place-items: center;
}

.ceremony-text {
	width: 100%;
	display: grid;
	place-items: center;
	text-align: center;
}

.ceremony-image {
	width: 100%;
	max-width: 900px;
	height: auto;
	max-height: 80vh;
	object-fit: contain;
}

@media (max-width: 1200px) {
	.ceremony-image {
		max-width: 700px;
	}
}

@media (max-width: 900px) {
	.ceremony-image {
		max-width: 500px;
	}
}

@media (max-width: 600px) {
	.ceremony-image {
		max-width: 98vw;
	}
}

.ceremony-title {
	font-size: 4rem;
	font-family: "'Cormorant Garamond', serif";
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 100;
	margin-bottom: 1.5rem;
}

@media (max-width: 1200px) {
	.ceremony-title {
		font-size: 3.5rem;
	}
}

@media (max-width: 900px) {
	.ceremony-title {
		font-size: 2.2rem;
	}
}

@media (max-width: 600px) {
	.ceremony-title {
		font-size: 1.5rem;
	}
}

.ceremony-time-container {
	margin-bottom: 1rem;
	position: relative;
}

.ceremony-time-container::after {
	content: "";
	display: block;
	margin: 1rem auto 0 auto;
	width: 80px;
	height: 2px;
	background: #434445; /* Tailwind's gray-300 */
	border-radius: 1px;
	opacity: 0.8;
}

.ceremony-time {
	font-family: "'Poppins', sans-serif";
	font-size: 1.25rem;
}

.ceremony-details {
	font-size: 1.25rem;
	font-family: "'Poppins', sans-serif";
	margin-bottom: 0rem;
}

.ceremony-link {
	font-size: 1.125rem;
	color: #2563eb; /* Tailwind's blue-600 */
	text-decoration: underline;
	margin-top: 1rem;
	display: inline-block;
}
